
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    text-align: center;
}

.small{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

